{% extends "auctions/layout.html" %}

{% block title %}
    Active Listings
{% endblock %}

{% block activeTab %}
    active
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h2 class="display-4 text-decoration-underline">Active Listings</h2>
            </div>
        </div>
        {% for listing in listings %}
        {% if listing.listingStatus %}
        <div class="container-fluid my-5 eachListing shadow-lg p-3 mb-5 bg-body rounded" style="transform: rotate(0);">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h4 class="display-6">{{ listing.title }}</h4>
                </div>
            </div>
            <div class="row">
                {% if listing.imageURL %}
                <div class="col">
                    <img src="{{ listing.imageURL }}" alt="{{ listing.title }}" class="img-fluid">
                </div>
                {% endif %}
                <div class="col d-flex flex-column text-center justify-content-center">
                    {% if listing.description %}
                    <h5>Description:</h5>
                    <span class="fw-normal mb-3">{{ listing.description }}</span>
                    {% endif %}
                    {% load customFilters %}
                    {% if listing.listingMaxBid is None %}
                        <h5 class="mb-5">Starting Price: <span class="fw-bold">{{ listing.startingBid|USD }}</span></h5>
                    {% else %}
                        <h5 class="mb-5">Current Price: <span class="fw-bold">{{ listing.listingMaxBid|USD }}</span></h5>
                    {% endif %}
                    <span class="text-muted">Created: {{ listing.createDate }}</span>
                </div>
            </div>
            <a href="{% url 'listing' listing.id %}" class="stretched-link"></a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}