{% extends "auctions/layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block loginTab %}
    active
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h2 class="display-6 text-decoration-underline">Login</h2>
            </div>
        </div>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
        <div class="row mb-3">
            <div class="col d-flex justify-content-center">
                <input autofocus class="form-control w-auto" type="text" name="username" placeholder="Username">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col d-flex justify-content-center">
                <input class="form-control w-auto" type="password" name="password" placeholder="Password">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col d-flex justify-content-center ">
                <input class="btn btn-primary" type="submit" value="Login">
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
                <span>Don't have an account? <a href="{% url 'register' %}">Register here.</a></span>
            </div>
        </div>
        </form>
    </div>
{% endblock %}